body {
    background-image: url("../img/mars.jpg");
}

h1 {
    text-align: center;
    color: white;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 768px;
}
